N1/BAPB.in filter=lfs diff=lfs merge=lfs -text
N1/MD_traject filter=lfs diff=lfs merge=lfs -text
N1/TOTALDIE filter=lfs diff=lfs merge=lfs -text
N2/README filter=lfs diff=lfs merge=lfs -text
N2/TOTALDIE filter=lfs diff=lfs merge=lfs -text
N2/BAPB.in filter=lfs diff=lfs merge=lfs -text
N2/MD_traject filter=lfs diff=lfs merge=lfs -text
